/* ## CTA Section
--------------------------------------------- */

.cta-section {
	background-color: $secondary-color;
	padding: $base-spacing * 2.5 0;
	margin: $base-spacing * 2 0;
	text-align: center;
	color: #fff;
	font-size: 2.4rem;

	> .wrap > .heading {
		margin-bottom: 1.5rem;
	}

	p {
		@media only screen and (min-width: 650px) {
			padding: 0 4rem;
		}
	}

	.button {
		margin-top: $small-spacing;
	}

	&.-bottom {
		margin-bottom: 0 !important;
	}

	&.-nomargin {
		margin: 0 !important;
	}
}
