/* ## Utility Bar
--------------------------------------------- */

.utility-bar {
	background-color: $medium-gray;
	color: #fff;
	padding: 1.5rem 0;
}

.utility-bar .social {
	float: left;

	a {
		display: block;
		width: 20px;
		height: 20px;

		@include media(x-small) {
			width: 25px;
			height: 25px;
		}
	}

	.facebook a {
		background: url(../images/icon/facebook.svg) no-repeat center;
	}

	.twitter a {
		background: url(../images/icon/twitter.svg) no-repeat center;
	}
}

.utility-bar .date {
	float: right;
	font-weight: 600;
	font-size: 1.6rem;

	span {
		text-transform: uppercase;
		letter-spacing: 0.05rem;
	}
}
