/* ## Site Structure
--------------------------------------------- */

// main.site-inner
main,
.wrap {
	margin: 0 auto;
}

main {
	max-width: 100%;
	padding: 0 0 $base-spacing;
}

.wrap {
	padding: 0 $small-spacing;

	@include media(large) {
		max-width: $max-width;
		padding: 0;
	}
}

main > section > .wrap {
	@media only screen and (min-width: 790px) {
		max-width: 750px;
		padding: 0;
	}
}

/* ## Float Clearing
--------------------------------------------- */

.wrap,
.clearfix {
	@include clearfix;
}
