/* ## Site Structure
--------------------------------------------- */

// main.site-inner
main,
.wrap {
	margin: 0 auto;
}

main {
	max-width: 100%;
}

.wrap {
	padding: 0 $small-spacing;

	@include media(large) {
		max-width: $max-width;
		padding: 0;
	}
}

body:not(.gallery):not(.home) main > section > .wrap {
	@media only screen and (min-width: 790px) {
		max-width: 750px;
		padding: 0;
	}
}

main > *:last-child {
	margin-bottom: $base-spacing * 2;
}

.home main > *:last-child {
	margin-bottom: 0;
}

.section-padding {
	padding: $base-spacing * 2.5 0;
}

section {
	scroll-margin-top: 100px;
}

/* ## Float Clearing
--------------------------------------------- */

.wrap,
.clearfix {
	@include clearfix;
}
