.site-footer {
	font-family: $base-font-family;
	background-color: $dark-gray;
	color: #fff;
	padding: $base-spacing 3%;
	font-size: 1.6rem;
	text-align: center;

	@include media(medium) {
		padding: $base-spacing 0;
	}

	a {
		color: #fff;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	br {
		@include media(medium) {
			display: none;
		}
	}

	span:not(#year) {
		display: none;

		@include media(medium) {
			display: inline;
		}
	}
}
