.site-header {
	//position: fixed;
	//width: 100%;
	position: sticky;
	top: 0;
	z-index: 9999;
	background-color: rgba($dark-gray, 0.95);
	padding: 1.5rem 2rem;
	transition: all 300ms linear;

	.wrap {
		padding: 0;
	}

	a {
		color: #fff;
		text-decoration: none;

		&:focus {
			box-shadow: 0 0 0 1px $light-gray;
		}
	}

	.site-logo {
		float: left;
		width: 200px;

		a,
		img {
			display: block;
		}

		h1 {
			margin: 0;
		}
	}
}

.site-header.is-active {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
